@using Microsoft.AspNetCore.Identity
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

<ul class="navbar-nav float-lg-start">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark btn btnbtn-outline-dark btn btn-info m-3" asp-area="" asp-controller="Departments" asp-action="Index">Home Department</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-outline-info m-3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><b>@User.Identity?.Name</b></a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark btn btn-outline-info m-3">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
