@{
    ViewData["Title"] = "Home Page";
}
<img class="d-block w-100" src="~/Img/bg.jpg" alt="photo" />

<div class="text-center">
    <h3 class="display-4">Welcome to WorldCraft Logicstic</h3>
    <p>More about <a href="https://worldcraftlogistics.com/">WorldCraft Logicstic</a> Company</p>
</div>
